* {
   background-color: #ffcccb;
}

.filmdetail {
    margin-left: 5%;
    inline-size: 350px;
}

/* navbar */
.navbar {
    background-color: #ffcccb;

}

.navbar a {
    display: inline-block;
    margin: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(25, 146, 152);
    border-bottom: 2px solid rgb(25, 146, 152);
    transition: 0.1s;
    margin-right: 22%;
    flex-wrap: nowrap;


  }

.navbar a:hover,
.navbar a:active {
    color: tomato;
    border-bottom: 2px solid tomato;
  }

.navbar a.active {
    background-color: white;
    color: black;
  } 

  header {
    height: 15vh; 
    display: flex;
    justify-content: center;
    align-items: center;
 }
  
/* homepage images */

 .column {
  float: left;
  width: 15%;
  padding: 0px;
  flex-wrap: nowrap;

}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
  flex-wrap: nowrap;
  padding: 0px;
  margin-right: 25%;



}

.home-pic {
  width: 100%;
  height: auto;
}